@media screen and (max-width: 600px) {
  .n {
    font-size: 12px;
  }

}

@media screen and (min-width: 600px) {
  .n {
    font-size: 20px;
  }

  #head {
    height:155px;
  }
  
}

body {
  font-family:Prompt;
  background:#C879FF;
  color:#FAF8D4;
  padding-top:150px;
}

h1,h2,h3 {
  font-family:Prompt;
  font-weight:bold;
}

#head {
  text-align: center;
  position:absolute;

  width: 100%;
  left:0;
  top: 0;
  background:#6D00A3;
  border-bottom:3px solid black;
  color:#EBDCCB;
}

#body {
  padding:10px;
  width:80%;
  text-align:center;
  margin:auto;
  background:rgba(109,0,163,.5);
  border:3px solid #FFB7FF;
}

#foot {
  text-align:center;
  font-size:10px;
}

.n {
  font-family:Prompt;
  border:2px solid black;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-left:10px;
  padding-right:10px;
  cursor:pointer;
  box-shadow: 0px 0 8px black;
  background: #FFB7FF;
}

.n:hover {
  font-weight:bold;
}

.fn {
  border:2px solid black;
  padding:5px;
  cursor:pointer;
  box-shadow: 0px 0px 10px black;
  background:linear-gradient(lime,pink)
}